@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --primary: #2c2a4a;
  --secondary: #4f518c;
  --font-color: #fff;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Nav */

.title {
  padding: 1rem;
  color: var(--font-color);
}

header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary);
  width: 100vw;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.2s;
  font-weight: 700;
  font-size: 1.3rem;
}

.logo:hover {
  transform: scale(1.1);
}

#search {
  background-color: transparent;
  border: 2px solid var(--primary);
  padding: 0.5rem .5rem;
  border-radius: 50px;
  font-size: 1rem;
  color: var(--font-color);
  margin: 1rem;
}

#search:focus {
  outline: 0;
  background-color: var(--primary);
  transition: 0.2s;
  transform: scale(1.1);
}

#search::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

/* CategoryTitle */
.genreTitle{
  background-color: var(--secondary);
  padding: .5rem;
  border-radius: 0 0 15px 15px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.genreTitle i{
  color: var(--font-color);
  font-size: 30px;
  cursor: pointer;
  background-color: var(--primary);
  padding: .5rem;
  border-radius: 50%;
  transition: all .2s;
}

.genreTitle i:hover{
  transform: scale(1.1);
}

/* Main */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
}

/* Movie cards */

.movie {
  width: 300px;
  background-color: var(--secondary);
  box-shadow: 0.2px 5px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: lightsalmon;
}
.movie-info span.red {
  color: lightcoral;
}

/* overview del card */

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--font-color);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: all 0.3s ease-in;
  font-size: small;
  overflow: scroll;
}

.movie:hover .overview {
  transform: translateY(0);
}

.knowMore {
  background-color: var(--primary);
  color: var(--font-color);
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.knowMore:hover {
  background-color: var(--secondary);
}

#tags {
  width: 60vw;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  padding: 1rem;
  margin: 1rem;
  user-select: none;
  color: var(--font-color);
  background-color: #4f598c;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
}

#genreHide{
  display: none;
}

.selected {
  background-color: black;
  transform: scale(1.1);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 15px;
  color: var(--font-color);
}

.page {
  cursor: pointer;
  transition: all 0.2s;
}

.page:hover {
  transform: scale(1.1);
}

.disabled {
  cursor: not-allowed;
  color: grey;
}

.current {
  border-radius: 50%;
  background-color: var(--secondary);
  padding: 10px 20px;
  font-weight: bolder;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Unico MediaQuery */
@media (max-width: 500px) {
  #search:focus {
    transform: none;
  }

  #search {
    width: 100px;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  #tags{
    flex-direction: column;
  }

  .logo{
    font-size: 1rem;
  }

  iframe{
    width: 100%;
  }
}
